# Create the network plot

Crea una copia del individuo en cada generación. 
Notebook enfocado a la visualización.

In [226]:
import pandas as pd
import numpy as np
from collections import defaultdict
import matplotlib.pyplot as plt

In [227]:
trace = "data/solutions/ntw_722_040-040-020_C/obj_distance-occupation-ntw_utilization/Replicas040/Genetics/NSGA2_1_200-200_SV0-CV2-MV1_MM0.2-MC0.1-MB0.1_tracker.csv"
trace = "data/solutions/ntw_722_040-040-020_C/obj_distance-occupation-ntw_utilization/Replicas040/Genetics/NSGA2_1_020-010_SV0-CV2-MV1_MM0.2-MC0.1-MB0.1_tracker.csv"
trace = "/Users/isaac/Projects/pymoo_tracker/examples/study_tracker/data/solutions/ntw_722_040-040-020_C/obj_distance-occupation-ntw_utilization/Replicas040/Genetics/NSGA2_1_200-200_SV0-CV2-MV1_MM0.2-MC0.1-MB0.1_tracker.csv"

In [228]:
#get both values from the file name
population , generations  = trace.split("_")[-4].split("-")
generations = int(generations)
population = int(population)
print(generations, population)

200 200

In [229]:
df = pd.read_csv(trace)
print(df.head(2))
print(df.tail(2))

def clean_parents(item):
    item = list(eval(item))
    return pd.Series([item[0], item[1]])

df[["parent1","parent2"]]=df["parent"].apply(clean_parents)

   iter   idx  created_gen  rank  crowding      parent mutate mutate_rate  \
0     0  1_20            1   0.0       inf  ['0', '0']    NaN         NaN
1     0  1_29            1   0.0  0.344883  ['0', '0']    NaN         NaN

    isF
0  True
1  True
       iter      idx  created_gen  rank  crowding                 parent  \
39998   199  200_165          200   0.0  0.005639  ['195_80', '198_132']
39999   199  193_119          193   0.0  0.005612  ['189_73', '181_153']

      mutate mutate_rate   isF
39998    NaN         NaN  True
39999    NaN         NaN  True

In [230]:
# df.drop(df[df.iter==generations].index,inplace=True) #these samples are in the GENS+1

In [231]:
# df.loc[df.iter==GENS+1,"iter"]=GENS #we change the GENS+1 to GEN

In [232]:
# Reformat values of "isF"
df.isF.fillna(False,inplace=True)
df.loc[df.isF=="true","isF"]=True
df.loc[df.isF=="false","isF"]=False

In [233]:
mask = df.groupby(by=["idx"],as_index=False)["iter"].agg([min,max])
mask["lifeIter"] = mask["max"]-mask["min"]
dfMutates = df[["idx","mutate"]].drop_duplicates()
dfMutates.fillna(False,inplace=True)
df2 = pd.merge(mask,dfMutates,on=["idx"],how="inner")

dft = pd.merge(df,df2,on=["idx"],how="inner")

In [234]:
dft["name"]=dft["idx"]+"_"+dft["iter"].astype(str)

print(dft.shape)

(40000, 16)

In [235]:
dft[dft.iter ==1]

,iter,idx,created_gen,rank,crowding,parent,mutate_x,mutate_rate,isF,parent1,parent2,min,max,lifeIter,mutate_y,name
1,1,1_20,1,0.0,inf,"['0', '0']",NaN,NaN,True,0,0,0,6,6,False,1_20_1
8,1,1_29,1,0.0,0.077077,"['0', '0']",NaN,NaN,True,0,0,0,5,5,False,1_29_1
14,1,1_36,1,1.0,0.117062,"['0', '0']",NaN,NaN,False,0,0,0,3,3,False,1_36_1
18,1,1_66,1,1.0,0.069241,"['0', '0']",NaN,NaN,False,0,0,0,3,3,False,1_66_1
22,1,1_75,1,0.0,inf,"['0', '0']",NaN,NaN,True,0,0,0,6,6,False,1_75_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,1,2_3,2,NaN,NaN,"['1_159', '1_10']",NaN,NaN,False,1_159,1_10,1,1,0,False,2_3_1
577,1,2_4,2,NaN,NaN,"['1_156', '1_133']",NaN,NaN,False,1_156,1_133,1,1,0,False,2_4_1
578,1,2_5,2,NaN,NaN,"['1_69', '1_51']",NaN,NaN,False,1_69,1_51,1,1,0,False,2_5_1
579,1,2_6,2,NaN,NaN,"['1_19', '1_108']",True,M2a,False,1_19,1_108,1,1,0,True,2_6_1
580,1,2_7,2,NaN,NaN,"['1_172', '1_188']",True,M2a,False,1_172,1_188,1,1,0,True,2_7_1

In [236]:
dft.head()

,iter,idx,created_gen,rank,crowding,parent,mutate_x,mutate_rate,isF,parent1,parent2,min,max,lifeIter,mutate_y,name
0,0,1_20,1,0.0,inf,"['0', '0']",NaN,NaN,True,0,0,0,6,6,False,1_20_0
1,1,1_20,1,0.0,inf,"['0', '0']",NaN,NaN,True,0,0,0,6,6,False,1_20_1
2,2,1_20,1,0.0,inf,"['0', '0']",NaN,NaN,True,0,0,0,6,6,False,1_20_2
3,3,1_20,1,1.0,0.091239,"['0', '0']",NaN,NaN,False,0,0,0,6,6,False,1_20_3
4,4,1_20,1,1.0,0.072257,"['0', '0']",NaN,NaN,False,0,0,0,6,6,False,1_20_4

In [237]:
dft.tail()

,iter,idx,created_gen,rank,crowding,parent,mutate_x,mutate_rate,isF,parent1,parent2,min,max,lifeIter,mutate_y,name
39995,199,200_115,200,0.0,0.006077,"['196_72', '193_128']",NaN,NaN,True,196_72,193_128,199,199,0,False,200_115_199
39996,199,200_50,200,0.0,0.005972,"['195_90', '191_2']",True,M2a,True,195_90,191_2,199,199,0,True,200_50_199
39997,199,200_192,200,0.0,0.005951,"['181_82', '198_80']",NaN,NaN,True,181_82,198_80,199,199,0,False,200_192_199
39998,199,200_54,200,0.0,0.005939,"['197_190', '183_103']",NaN,NaN,True,197_190,183_103,199,199,0,False,200_54_199
39999,199,200_165,200,0.0,0.005639,"['195_80', '198_132']",NaN,NaN,True,195_80,198_132,199,199,0,False,200_165_199

In [238]:
### TESTING
print(len(dft[dft.iter==generations-1]))

200

In [239]:
import networkx as nx
G = nx.Graph()
# G.add_nodes_from(dft[dft.iter==1]["idx"].values)
G.add_nodes_from(dft.name.values)
print(len(G.nodes))

40000

In [240]:
lastGeneration = dict(zip(dft[dft["iter"]==generations-1].name,[True]*population))
iteration_att = dict(zip(dft.name,dft["iter"].astype(int)))
rank_att = dict(zip(dft.name,dft["rank"]))
lifeiter_att = dict(zip(dft.name,dft["lifeIter"]))
pf_att = dict(zip(dft.name,dft["isF"].astype(bool)))
mutate_att = dict(zip(dft.name,dft["mutate_y"].astype(int)))


nx.set_node_attributes(G,values=iteration_att,name="gen")
nx.set_node_attributes(G,values=rank_att,name="rank")
nx.set_node_attributes(G,values=lifeiter_att,name="lifeIter")
nx.set_node_attributes(G,values=pf_att,name="isF")
nx.set_node_attributes(G,values=lastGeneration,name="lastGen")
nx.set_node_attributes(G,values=mutate_att,name="mutate")

In [241]:
print(len(G.nodes))

40000

In [252]:
posX, posY = dict(),dict()
ghost = dict()
lastpost = defaultdict(int)

for iter in range(generations):
    
    dftmp = dft[dft["iter"]==iter].sort_values(["lifeIter"],ascending=False)
        
    for element in range(len(dftmp)):
        ind = dftmp.iloc[element]
        name = ind["name"]
        n_gen = int(ind["created_gen"])
        id = ind["idx"]
        
        debug_name = "44_135_43"
        if name ==debug_name:
            print("A")
            print(iter)
            print(n_gen)

        # # Edge generation
        if n_gen==iter+1 and iter>=1: #tiene ancestors
            p1 = ind["parent1"]
            p2 = ind["parent2"]
            namep1 = p1+"_"+str(iter-1)
            namep2 = p2+"_"+str(iter-1)
            G.add_edge(namep1, name)
            G.add_edge(namep2, name)

            if name == debug_name:
                print("Edge Generation")
                print(namep1)
                print(namep2)
        

        if iter >= n_gen: #individuo ya creado
            if name == debug_name:
                print("Is Ghost")
                print("%s_%i"%(id,iter-1))
            # Crear nuevo individuo GHOST en la nueva posición
            # Vertical control position
            ghost[name]= True

            posX[name] = posX["%s_%i"%(id,iter-1)]

            posY[name] = -float(iter)
        else:
            if name == debug_name:
                print("new")
                

            # individuo nuevo
            ghost[name]=False

            # Horizontal control Position 
            if iter == 0 :
                posX[name] = lastpost[iter]
                # lastpost[gen] = element+1
            elif iter == 1:
                posX[name] = -(lastpost[iter]+1)
            else: #3 o more generations
                if name == debug_name:
                     print("3pos")
                if lastpost[iter]==0:
                    lastpost[iter]= lastpost[iter-1]+1
                posX[name] = - lastpost[iter]
                # lastpost[gen] = element+1
            lastpost[iter] = lastpost[iter]+1
            posY[name] = -float(iter)

    
print(len(G.nodes))

A
43
44
Edge Generation
41_114_42
43_174_42
new
3pos
40000

In [253]:
nx.set_node_attributes(G,values=posX,name="posx")
nx.set_node_attributes(G,values=posY,name="posy")
nx.set_node_attributes(G,values=ghost,name="ghost")
print(len(G.nodes))

40000

In [254]:
nx.write_gexf(G, "test_g%i_p%i.gexf"%(generations,population))
# on Gephy::Layout
# % which dot
# /opt/homebrew/bin/dot